<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SCAU 作业管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div style="padding-top: 15px">
    <div style="padding-left: 15px">修改密码</div>
    <hr>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-inline">
                <input type="password" name="oldPassword" id="oldPassword" class="layui-input" style="width:200px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="newPassword" id="newPassword" class="layui-input" style="width:200px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="rePassword" id="rePassword" class="layui-input" style="width:200px">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input class="layui-hide" id="userId" name="userId" value="${session.currentUser.id}">
                <button class="layui-btn" lay-submit lay-filter="user-pass-submit">确认修改</button>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(["jquery", "element", "form", "layer"], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer=layui.layer;

        form.on("submit(user-pass-submit)", function (data) {
            if($("#rePassword").val()!=$("#newPassword").val()){
                layer.msg("两次输入的密码不一致");
            }else{
                $.ajax({
                    url: "/user/update/pass",
                    data: data.field,
                    type: "post",
                    success: function (res) {
                        layer.msg(res.msg);
                    }
                });
            }
        });

    });

</script>
</body>
</html>