<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SCAU 作业管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div style="margin: 10px;">
    <div class="layui-form">
        <!--<div class="layui-form-item">-->
        <!--<div class="layui-inline">-->
        <!--<label class="layui-form-label">用户状态</label>-->
        <!--<div class="layui-input-block" style="min-width: 240px">-->
        <!--<select class="layui-select" name="status" id="status" lay-filter="status">-->
        <!--<option value=""></option>-->
        <!--<option value="1">正常</option>-->
        <!--<option value="2">停用</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户角色</label>
                <div class="layui-input-block" style="min-width: 240px">
                    <select class="layui-select" name="role" id="role" lay-filter="role">
                        <option value=""></option>
                        @for(r in roleList){
                        <option value="${r.id}">${r.name}</option>
                        @}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户账号</label>
                <div class="layui-input-block" style="min-width: 240px">
                    <input type="text" class="layui-input" name="keyword" id="keyword">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="user-search">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>
        <hr>
        <table class="layui-hide" id="userList"
               lay-filter="user-list">
        </table>
    </div>
</div>
<script type="text/html" id="toolBar">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm" lay-event="import"><i class="layui-icon">&#xe67c;</i>批量导入</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="layui-icon">&#xe654;</i>新增</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete"><i
                class="layui-icon">&#xe640;</i>删除
        </button>
    </div>
</script>

<script type="text/html" id="operationBar">
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑
    </button>
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除
    </button>
</script>
<script src="/layui/layui.js"></script>
<script src="/js/common.js"></script>
<script>
    //JavaScript代码区域
    layui.use(["jquery", "element", "form", "table", "upload", "layer"], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            upload = layui.upload,
            layer = layui.layer;

        table.render({
            elem: "#userList",
            toolbar: "#toolBar",
            url: "/user/list",
            height: "full-100",
            cols: [[
                {type: "checkbox", fixed: "left"},
                {title: "账号", field: "account", align: "center"},
                {title: "用户名", field: "userName", align: "center"},
                {title: "角色", field: "roleName", align: "center"},
                {title: "性别", field: "sex", align: "center"},
                {title: "手机", field: "phone", align: "center"},
                {title: "邮箱", field: "email", align: "center"},
                {
                    title: "创建时间", field: "createTime", align: "center", templet: function (data) {
                        if (data.createTime != null) {
                            return timestampToTime(data.createTime);
                        }
                        return "";
                    }
                },
                // {title: "状态", field: "status", align: "center",templet:function (data) {
                //         if (data.status == 1) {
                //             return ' <input type="checkbox" value="'+data.id+'" name="status" id="status" lay-filter="account-status" lay-skin="switch" lay-text="正常|禁用" checked >';
                //         } else {
                //             return ' <input type="checkbox" value="'+data.id+'" name="status" id="status" lay-filter="account-status" lay-skin="switch" lay-text="正常|禁用"  >';
                //         }
                //     }},
                {title: "操作", align: "center", toolbar: "#operationBar", fixed: "right"},
            ]],
            page: true
        });

        form.on("select(role)", function (data) {
            reload();
        });

        form.on("select(status)", function (data) {
            reload();
        });

        form.on("submit(user-search)", function (data) {
            reload();
        });

        table.on("tool(user-list)", function (obj) {
            var data = obj.data;
            var event = obj.event;
            if (event == "edit") {
                var title = "编辑用户";
                var content = "/user/edit.html?userId=" + data.id;
                open(title, content);
            } else if (event == "delete") {
                deleteUser(data.id, "是否删除该用户");
            }

        });

        function open(title, content) {
            var index = layer.open({
                title: title,
                type: 2,
                content: content,
                success: function (layero, index) {
                    layer.getChildFrame('body', index);
                },
                cancel: function () {
                    reload();
                }
            })
            layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize", function () {
                layer.full(index);
            })
        };


        function deleteUser(userIds, content) {
            layer.open({
                title: "提醒",
                content: content,
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                    $.ajax({
                        url: "/user/delete",
                        data: {
                            userIds: userIds
                        },
                        type: "post",
                        success: function (res) {
                            layer.msg(res.msg);
                            reload();
                        }
                    })
                }
            });

        }

        table.on('toolbar(user-list)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var event = obj.event;
            if (event == "add") {
                var title = "添加用户";
                var content = "/user/add.html";
                open(title, content);
            } else if (event == "delete") {
                var data = checkStatus.data;
                if (data.length < 1) {
                    layer.msg("至少选择一条数据");
                } else {
                    var userIds = "";
                    $.each(data, function (i, n) {
                        userIds += n.id + ",";
                    })
                    userIds = userIds.substr(0, userIds.length - 1);
                    deleteUser(userIds, "是否删除选中的" + data.length + "个用户   ");
                }
            } else if (event == "import") {
                importUser();
            }

        });

        function reload() {
            table.reload("userList", {
                url: "/user/list",
                where: {
                    roleId: $("#role").val(),
                    status: $("#status").val(),
                    keyword: $("#keyword").val(),
                }
            });
        };

        function importUser() {
            layer.open({
                type: 1,
                title: "导入",
                content: '<div style="text-align: center;margin-top: 30px">' +
                    '    <button class="layui-btn" id="upload"><i class="layui-icon">&#xe67c;</i>点击上传文件</button>' +
                    '    <div style="margin-top: 10px" id="srcPath"></div>' +
                    '</div>',
                area: ['500px', '220px'],
                resize: false,
                btn: ['下载模版', '确定导入', '取消'],
                btnAlign: 'c',
                btn1: function (index, layero) {
                    window.location.href="/templet/名单模板.xlsx";
                    return false;
                },
                btn2: function (index, layero) {
                    return false;
                }
            });

            upload.render({
                elem: "#upload",
                url: "/upload/",
                exts: "xsl|xlsx",
                done: function (res) {

                },
                error: function () {
                    $("#srcPath").html("3243243243");
                }
            });
        };


    });

</script>
</body>
</html>