<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SCAU 作业管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../layui/css/layui.css" media="all">
</head>
<body class="layui-bg-gray">

<!--------------------------------------导航栏开始------------------------------------------->
<div style="position: fixed; left: 0; top: 0; z-index: 10000; width: 100%; height: 60px; border-bottom: 1px solid #404553; border-right: 1px solid #404553; border-radius: 0;" class="layui-bg-black">
    <!--<div style="position: fixed;left: 0px;right: 0px;z-index: 9999">-->
    <!--<div class="layui-container">-->
    <div  style="min-height: 60px;padding-left: 90px">
        <div style="width: 200px;height: 100%;line-height: 60px;text-align: center;color: #009688;font-size: 20px;font-family: Cambria">
            <strong>SCAU</strong> 作业提交系统
        </div>
    </div>

    <ul class="layui-nav layui-layout-left" lay-filter="layui-header-left" style="left: 305px;right: 0px">
        <li class="layui-nav-item ">
            <a href="/front/index">主页</a>
        </li>
        <li class="layui-nav-item">
            <a href="/front/homework/list?userId=${session.currentUser.id}">课程作业</a>
        </li>
        <li class="layui-nav-item">
            <a href="/front/course/resourse?userId=${session.currentUser.id}" >课程资源</a>
        </li>
        <li class="layui-nav-item ">
            <a href="/front/system/about" >关于</a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right" layui-filter="layui-header-right" style="padding-right: 50px;">
        <li class="layui-nav-item">
            <a href="/front/person_info?userId=${session.currentUser.id}" >
                <img src="/image/touxiang.png" class="layui-nav-img">
                ${session.currentUser.userName}
            </a>
            <dl class="layui-nav-child" style="text-align: center">
                <dd><a href="/front/person_info?userId=${session.currentUser.id}"  id="nav_child_center">个人中心</a></dd>
                <dd><a href="/front/update_password" id="nav_child_pass">修改密码</a></dd>
                <dd><a href="/front/history_record" id="nav_child_history">历史记录</a></dd>
                <hr>
                <dd><a href="/logout.html">退出</a></dd>
            </dl>
        </li>
    </ul>
    <!--</div>-->
</div>
<!--------------------------------------导航栏结束------------------------------------------->
<div style="position: relative;top:80px;margin-left: 100px;margin-right: 100px">
    <div style="margin:0 50px 0 50px;padding:10px 20px 10px 20px;">
        <!----------------------------------左侧菜单栏开始----------------------------------------->
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user" style="position: absolute;padding-top: 20px">
            <li class="layui-nav-item layui-this"><a href="/front/person_info?userId=${session.currentUser.id}"  id="nav_item_center"> <i
                    class="layui-icon">&#xe612;</i> 个人中心 </a></li>
            <li class="layui-nav-item "><a href="/front/update_password" id="nav_item_pass"> <i
                    class="layui-icon">&#xe673;</i> 修改密码 </a></li>
            <li class="layui-nav-item "><a href="/front/history_record" id="nav_item_history"> <i
                    class="layui-icon">&#xe60a;</i> 历史记录 </a></li>
            <!--<li class="layui-nav-item "><a href="/front/history_record" id="nav_item_notice"> <i-->
                    <!--class="layui-icon">&#xe667;</i> 消息中心 </a></li>-->

        </ul>
        <!----------------------------------左侧菜单栏结束----------------------------------------->
<!----------------------------------右侧开始----------------------------------------->
<div style="margin-left:215px;min-height: 590px;min-width: 650px;background-color: white;padding-top: 10px">
    <div class="layui-tab layui-tab-brief" lay-filter="">
        <ul class="layui-tab-title">
            <li class="layui-this">我的资料</li>
            <!--<li>头像</li>-->
            <!--<li>密码</li>-->
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-form layui-form-pane layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="account" id="account" required class="layui-input" disabled
                               value="${user.account}" style="cursor: not-allowed !important;">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" id="userName" required class="layui-input" disabled
                               value="${user.userName}" style="cursor: not-allowed !important;">
                    </div>
                    @if(isNotEmpty(user.sex)&&user.sex=="男"){
                        <input type="radio" name="sex"  value="男" title="男" checked>
                        <input type="radio" name="sex"  value="女" title="女">
                    @}else if(isNotEmpty(user.sex)&&user.sex=="女"){
                    <input type="radio" name="sex"  value="男" title="男">
                    <input type="radio" name="sex" value="女" title="女" checked>
                    @}else{
                    <input type="radio" name="sex"  value="男" title="男">
                    <input type="radio" name="sex" value="女" title="女" >
                    @}
                </div>
                <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">性别</label>-->
                <!--<div class="layui-input-block">-->
                <!--<input type="radio" name="sex" id="male" value="男" title="男">-->
                <!--<input type="radio" name="sex" id="female" value="女" title="女">-->
                <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label">班级</label>
                    <div class="layui-input-inline">
                        <input type="text" name="clazz" id="clazz" class="layui-input" disabled style="cursor: not-allowed !important;" value="${user.clazz}" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email" id="email" class="layui-input" lay-verify="email" value="${user.email}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-inline">
                        <input type="text" name="phone" id="phone" class="layui-input" lay-verify="phone" value="${user.phone}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <input class="layui-hide" id="id" name="id" value="${user.id}">
                    <button class="layui-btn" lay-submit lay-filter="user-info-submit" style="width:110px">确认修改</button>
                </div>
            </div>
            <!--<div class="layui-tab-item layui-form layui-form-pane">-->
                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-bg-gray"-->
                         <!--style="text-align: center;width: 350px;height: 400px;padding-top: 30px">-->
                        <!--<button type="button" class="layui-btn" id="load-img">-->
                            <!--<i class="layui-icon">&#xe67c;</i>上传头像-->
                        <!--</button>-->
                        <!--<p style="margin-top: 10px;opacity: 0.7">支持jpg、png、gif，最大不能超过50KB</p>-->
                        <!--<img src="/image/touxiang.png"-->
                             <!--style="width: 200px; height: 200px;margin-top: 30px; border-radius: 100px;">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-tab-item layui-form layui-form-pane">-->
            <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">原密码</label>-->
            <!--<div class="layui-input-inline">-->
            <!--<input type="password" name="oldPassword" id="old-password" required class="layui-input">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">新密码</label>-->
            <!--<div class="layui-input-inline">-->
            <!--<input type="password" name="newPassword" id="new-password" required class="layui-input">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">确认密码</label>-->
            <!--<div class="layui-input-inline">-->
            <!--<input type="password" name="rePassword" id="re-password" required class="layui-input">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
            <!--<button class="layui-btn"  lay-submit lay-filter="user-pass-submit">确认修改</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
    </div>
</div>
<!----------------------------------右侧结束----------------------------------------->

<!----------------------------------页脚开始----------------------------------------->

<!----------------------------------页脚结束----------------------------------------->
<script src="../../../layui/layui.js"></script>
<script>
    layui.use(["element", "form", "jquery", "upload"], function () {
        var form = layui.form,
            $ = layui.jquery,
            layer=layui.layer,
        upload = layui.upload;

        //修改个人信息
        form.on("submit(user-info-submit)", function (data) {
            $.ajax({
                url: "/user/update/info",
                data: data.field,
                type: "post",
                success: function (res) {
                   layer.msg(res.msg);
                }
            });
        });

        //上传头像
        upload.render({
            elem: "#load-img",
            url: "",
            done: function (res) {

            },
            error: function () {

            }
        })

    });
</script>
</body>
</html>