<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scau.huangyk.homeworkmanagementsystem.mapper.TypeMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="scau.huangyk.homeworkmanagementsystem.entity.Type">
    <result column="id" property="id" />
    <result column="createTime" property="createTime" />
    <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="valid" property="valid" />
        <result column="keyCode" property="keyCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    createTime,
    updateTime,
        name, valid, keyCode
    </sql>

    <select id="selectByKeyCode" resultType="Type">
        select * from type where keyCode=#{keyCode} and valid=1;
    </select>

</mapper>
