<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SCAU 作业管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body class="layui-bg-gray">
<!--------------------------------------导航栏开始------------------------------------------->
<div style="position: fixed; left: 0; top: 0; z-index: 10000; width: 100%; height: 60px; border-bottom: 1px solid #404553; border-right: 1px solid #404553; border-radius: 0;"
     class="layui-bg-black">
    <!--<div style="position: fixed;left: 0px;right: 0px;z-index: 9999">-->
    <!--<div class="layui-container">-->
    <div style="min-height: 60px;padding-left: 90px">
        <div style="width: 200px;height: 100%;line-height: 60px;text-align: center;color: #009688;font-size: 20px;font-family: Cambria">
            <strong>SCAU</strong> 作业提交系统
        </div>
    </div>

    <ul class="layui-nav layui-layout-left" lay-filter="layui-header-left" style="left: 305px;right: 0px">
        <li class="layui-nav-item ">
            <a href="/front/index">主页</a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="/front/homework/list?userId=${session.currentUser.id}">课程作业</a>
        </li>
        <li class="layui-nav-item ">
            <a href="/front/course/resourse?userId=${session.currentUser.id}">课程资源</a>
        </li>
        <li class="layui-nav-item ">
            <a href="/front/system/about">关于</a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right" layui-filter="layui-header-right" style="padding-right: 50px;">
        <li class="layui-nav-item">
            <a href="/front/person_info?userId=${session.currentUser.id}">
                <img src="/image/touxiang.png" class="layui-nav-img">
                ${session.currentUser.userName}
            </a>
            <dl class="layui-nav-child" style="text-align: center">
                <dd><a href="/front/person_info?userId=${session.currentUser.id}" id="nav_child_center">个人中心</a></dd>
                <dd><a href="/front/update_password" id="nav_child_pass">修改密码</a></dd>
                <dd><a href="/front/history_record" id="nav_child_history">历史记录</a></dd>
                <hr>
                <dd><a href="/logout.html">退出</a></dd>
            </dl>
        </li>
    </ul>
    <!--</div>-->
</div>
<!--------------------------------------导航栏结束------------------------------------------->

<div style="position: relative;top:80px;margin-left: 100px;margin-right: 100px">
    <!--------------------------------------主体开始------------------------------------------->
    <div style="margin:0 50px 0 50px;padding:10px 20px 10px 20px;background-color: white;">
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">课程名称</label>
                    <div class="layui-input-block" style="min-width: 240px">
                        <select class="layui-select" name="course" id="course" lay-filter="course">
                            <option value=""></option>
                            @for(r in courseList){
                                <option value="${r.id}">${r.name}</option>
                            @}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">作业状态</label>
                    <div class="layui-input-block" style="min-width: 240px">
                        <select class="layui-select" name="status" id="status" lay-filter="status">
                            <option value=""></option>
                            <option value="0">未提交</option>
                            <option value="1">已提交</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <table class="layui-hide" id="homeworkList" lay-filter="homework-list"></table>
    </div>
    <!--------------------------------------主体结束------------------------------------------->
</div>
<!----------------------------------页脚开始----------------------------------------->

<!----------------------------------页脚结束----------------------------------------->

<!--<script type="text/html" id="operationBar">-->
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs"  lay-event="detail">查看</a>-->
    <!--<a class="layui-btn layui-btn-xs" lay-event="submit">提交</a>-->
<!--</script>-->
<script src="/layui/layui.js"></script>
<script src="/js/common.js"></script>
<script>
    layui.use(["element", "jquery", "table","laytpl"], function () {
        var table = layui.table,
            $ = layui.jquery,
            form=layui.form,
            laytpl=layui.laytpl;
        table.on("tool(homework-list)", function (obj) {
            var data = obj.data;
            if (obj.event === "detail") {//点击查看
                window.location.href = "/front/homework/info?homeworkId="+data.id;
            } else if (obj.event === "submit") {//点击提交
                window.location.href = "/front/homework/submit?homeworkId="+data.id;
            }
        });
        $("#course").change(function () {
            alert($(this).val())
        });

        $("#state").change(function () {
            alert($(this).val())
        });

        table.render({
            elem: "#homeworkList",
            toolBar:"#operationBar",
            url:"/homework/student/list?stuId=${session.currentUser.id}",
            cols: [[
                {title: "操作", align: "center",templet:function (data) {
                    if(timestampToTime(data.deadline)<timestampToTime(new Date())) {
                        return " <a class='layui-btn layui-btn-primary layui-btn-xs'  lay-event='detail'>查看</a>\n" +
                            "    <a class='layui-btn layui-btn-xs layui-disabled' lay-event='submit' title='已过期，无法提交'>提交</a>";
                    }else{
                        return " <a class='layui-btn layui-btn-primary layui-btn-xs'  lay-event='detail'>查看</a>\n" +
                            "    <a class='layui-btn layui-btn-xs' lay-event='submit' >提交</a>";
                    }
                }},
                {title: "课程名称", field: "courseName", align: "center"},
                {title: "作业题目", field: "subject", align: "center"},
                {title: "截止时间", field: "deadline", align: "center", sort: true,templet:function (data) {
                        return  timestampToTime(data.deadline);
                }},
                {title: "状态", field: "status", align: "center",templet:function (data) {
                    if(timestampToTime(data.deadline)<timestampToTime(new Date())){
                        return "<span style='color:red'>已过期</span>";
                    }else{
                        return "<span style='color:blue'>未过期</span>";
                    }

                }},
                {title: "提交时间", field: "submitTime", align: "center", sort: true,templet:function (data) {
                    if(data.submitTime==null){
                        return "";
                    }
                    return  timestampToTime(data.submitTime);
                }}
            ]],
            page: true,
        });

        form.on("select(course)", function(data){
            console.log(data);
            reload();
        });

        form.on("select(status)", function(data){
            console.log(data);
            reload();
        });

        function reload(){
            table.reload("homeworkList",{
                url:"/homework/student/list",
                where:{
                    stuId:"${session.currentUser.id}",
                    status:$("#status").val(),
                    courseId:$("#course").val()
                }
            });
        }

    });
</script>
</body>
</html>